# Ignore node_modules
node_modules

# Ignore artifacts from the build process
dist

.env
!.env.production*
!.env.development*

# Ignore OS files
.DS_Store

# Ignore dev db files
*.sqlite3

.vscode
.idea

# Ignore test coverage
coverage